# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Lucy\Lusia\UG\Semestr 3\Testowanie automatyczne\Laby\laboratorium_14-LudwikaMalinowska\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
